.room {
  height: auto;
  display: grid;
  gap: 0px;
  padding: 20px;
  background-color: #d2aa73;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr;
}

.place {
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.place:hover {
  background: rgb(185, 175, 175);
}

.desk-cell {
  position: relative;
  overflow: hidden;
}

.desk-img {
  width: 100%;
  height: 108%;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: absolute;
}

.rotate-right .desk-img {
  transform: rotate(90deg);
}

.rotate-bottom .desk-img {
  transform: rotate(180deg);
}

.rotate-left .desk-img {
  transform: rotate(270deg);
}