.room {
  display: grid;
  gap: 0px;
  padding: 20px;
  background-color: #d2aa73;
  justify-content: center;
}

.place {
  height: 50px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.place:hover{
  background: gray;
}
