<div class="room" [style.gridTemplateColumns]="'repeat(' + roomWidth + ', 50px)'">
  <ng-container *ngFor="let room of rooms; let rowIndex = index">
    <ng-container *ngFor="let cell of room.cells; let colIndex = index">
        <div 
    [ngStyle]="{
      gridRowStart: cell.positionY,
      gridColumnStart: cell.positionX,
      borderStyle: getBorder(room.id, cell.positionY, cell.positionX)
    }"
    [ngClass]="{'desk-cell': cell.isDesk}"
    [ngClass]="{
      'desk-cell': cell.isDesk,
      'rotate-right': cell.rotationClass === 'rotate-right',
      'rotate-bottom': cell.rotationClass === 'rotate-bottom',
      'rotate-left': cell.rotationClass === 'rotate-left'
    }"
    class="place">
  </div>

    </ng-container>
  </ng-container>
</div>