.room {
  height: auto;
  display: grid;
  gap: 0px;
  padding: 20px;
  background-color: #d2aa73;
  justify-content: center;
  flex-wrap: wrap;
}

.place {
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.place:hover{
  background: rgb(185, 175, 175);
}
.desk-cell {
  background-color: green;
}
