<div class="footer">
    <div class="wrapper">
        <div class="left">
            <p>INSTRUKCJA OBSŁUGI:</p>
            <p>KLIKNIJ NA WYBRANE STANOWISKO ABY JE ZAREZERWOWAĆ</p>
            <p>KLIKNIĘCIE NA WCZESNIEJ ZAREZERWOWANE MIEJSCE SPOWODUJE ANULOWANIE REZERWACJI</p>
        </div>
        <div class="right">
            <div class="legend-item">
                <div class="square free"></div>
                <span>-- Miejsce Wolne</span>
              </div>
              <div class="legend-item">
                <div class="square reserved"></div>
                <span>-- Miejsce Zajęte</span>
              </div>
              <div class="legend-item">
                <div class="square yours"></div>
                <span>-- Twoje Miejsce</span>
              </div>
        </div>
    </div>
    

</div>
